* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* backdrop-filter: blur(10px); */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

.container-btn {
    width: 100%;

}

body {
    overflow: auto;
}


.nombre {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-bottom-right-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.nav-link:hover {
    border-bottom: solid 3px #ffcc53;
}

.dropdown-menu {
    background: #ffcc53;

}

.dropdown-item {
    color: #000000;
    border-bottom: solid 0.5px #ffffff;
    font-weight: bold;
}

.dropdown-item:hover {
    background: #0B7F46;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
}

.Bienvenida {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 70%;
    display: block;
    border-bottom: solid 3px #fff;
    color: #ffffff;
    font-size: 15px;
}

main .formulario {
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 50px;

}

.input-group {
    display: flex;
    align-items: center;
    background-color: #121A1C;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 90%;
    padding: 0;
}

.form-select {
    border: none;
    position: absolute;
    background: #121A1C;
    color: #FFFFFF;
    width: 100%;
    z-index: 1000;
}
.input-group .form-control {
    border: none;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    width: 85%;
}

input[type="select"] {
    border: none;
    display: none;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    width: 85%;
}

.input-group-text {
    background-color: transparent;
    color: #FFFFFF;
    padding: 0px;
    border: none;
    display: flex;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.material-icons {
    font-size: 24px;

}

.cancelar {
    background: #0b7f46;
    font-weight: bold;
    width: 18%;
}

.cancelar:hover {
    background: #07f884;
    cursor: pointer;
}

.A_cupos {
    background: #0b7f46;
    font-weight: bold;
}

.A_cupos:hover {
    cursor: pointer;
    background: #07f884;
}

.span {
    color: #ffffff;
    vertical-align: middle;
    transform: rotate(-45deg) scaleX(-1);
}
.span2{
    color: #ffffff;
    vertical-align: middle;
    transform: rotate(-90deg) scaleX(-1);
}

.click {
    cursor: pointer;
    color: #ffffff;
}

@media screen and (max-width: 500px) {

    footer {
        /* position: fixed; */
        width: 100%;
        bottom: 0;
    }

    .form-select {
        border: none;
        position: absolute;
        background: #121A1C;
        color: #FFFFFF;
        width: 100%;
        z-index: 900;
    }
    .A_cupos {
        align-items: center;
        background: #0b7f46;
        font-weight: bold;
    }


    main .container #nombre.d-flex.Bienvenida {
        top: 80px;
        left: 10px;
    }

    body div.container-fluid {
        max-width: 500px;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 900px) {
    .A_cupos {
        align-items: center;
        background: #0b7f46;
        font-weight: bold;
    }

    footer {
        /* position: fixed; */
        width: 100%;
        bottom: 0;
    }


}

@media screen and (max-width: 1150px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }

    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 140px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    
    footer {
        /* position: fixed; */
        bottom: 0;
        width: 100%;

    }

}

/* @media screen and (min-width: 1200px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }

    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 200px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    footer{
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
}
 */
