* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* backdrop-filter: blur(10px); */
}
/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}
footer {
    /* position: fixed; */
    bottom: 0;
    z-index: 1000;
    width: 100%;
}
.nombre {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-bottom-right-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-link:hover {
    border-bottom: solid 3px #ffcc53;
}
.dropdown-menu {
    background: #ffcc53;

}

.dropdown-item {
    color: #000000;
    border-bottom: solid 0.5px #ffffff;
    font-weight: bold;
}

.dropdown-item:hover {
    background: #0B7F46;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
}

.Bienvenida {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 70%;
    display: block;
    border-bottom: solid 3px #fff;
    color: #ffffff;
    font-size: 15px;
}

main .formulario {
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.calcular {
    background: #0b7f46;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.calcular:hover {
    cursor: pointer;
    background: #07f884;
}

.container-recomendaciones {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
}

.cabeza {
    background: #0b7f46;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

@keyframes resultados {
    0% {
        opacity: 0;
        transform: translatex(700px);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }

}

#Resultado {
    animation: resultados 1.5s;
}

@media screen and (max-width: 500px) {

    main .container #nombre.d-flex.Bienvenida {
        top: 80px;
        left: 20px;
    }


    main .formulario {
        
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    }

    footer {
        /* position: fixed; */
        margin: 0;
        width: 100%;
        bottom: 0px;
    }

    footer .row .col-8 {
        width: 65%;
        padding: 0;
    }

    #Resultado {
        width: 100%;
        height: 1000px;
        position: absolute;
    }

    body div.container-fluid {
        max-width: 500px;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }

    .container-recomendaciones {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        background: #ffffff;
    }


}

@media screen and (max-width: 800px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }
    main .formulario {
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 140px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    main .container #nombre.d-flex.Bienvenida {
        top: 80px;
        left: 20px;
    }

    header .navbar .navbar-expand-lg .container-fluid {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        /* overflow: auto; */
    }

    body div.container-fluid {

        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        /* overflow: auto; */
    }


    #image {
        display: none;
    }

    .col-8 {
        width: 100%;
        padding: 12px;
    }

    img {
        display: none;
    }

    #Resultado {
        width: 100%;
        border-radius: 15px;
        /* overflow: hidden; */
        position: static;
    }

    footer {
        /* position: fixed; */
        margin: 0;
        width: 100%;
        bottom: 0px;
    }
}

@media screen and (max-width: 1150px) {
    main .formulario {
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }

    #resultado {
        width: 100%;
        border-radius: 15px;
        position: static;
        /* background: #ffffff; */
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    main .container #nombre.d-flex.Bienvenida {
        top: 110px;
        left: 140px;
    }

    body div.container-fluid {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        /* overflow: auto; */
    }

    #image {
        display: none;
    }

    .col-8 {
        width: 100%;
        padding: 12px;
    }

    img {
        display: none;
    }

    .col-8 {
        /* width: 100%; */
        padding: 12px;
        width: 60%;
    }


}
/* @media screen and (min-width: 1200px) {
    img#logo{
        z-index: 1000; position: fixed; top: 5px; margin-top: 0; padding: 0; left: 10px;  
    }

    main .container .d-flex img {
        position: relative;
        top: 15px;
        left: 8px;
        width: 13%;
    }
    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 200px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    footer{
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
} */

