* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* backdrop-filter: blur(10px); */
}

/* Para navegadores basados en WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}
.form{
    width: 20%;
}
html {
    scrollbar-width: none;
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.s2 {
    width: 50%;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    right: 180px;
    position: absolute;
    top: 0;
}

.dropdown-menu {
    display: none;
    /* Oculta el menú por defecto */
}

body {
    overflow: auto;
    background: #1e1e1e;
}

.planes {
    padding-top: 20px;
}

.color {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.span {
    color: #ffffff;
    vertical-align: middle;
    transform: rotate(-45deg) scaleX(-1);
}

.span2 {
    color: #ffffff;
    vertical-align: middle;
    transform: rotate(-90deg) scaleX(-1);
}

.planes .row .col-md-6 a {
    color: #000000;
    font-size: 20px;
    margin: 0px;
    border-radius: 15px;
    text-decoration: none;
}

.nombre {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    border-bottom-right-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    text-align: center;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link:hover {

    border-bottom: solid 4px #ffcc53;
}

.dropdown-menu {
    background: #ffcc53;

}

.dropdown-item {
    color: #000000;
    border-bottom: solid 0.5px #ffffff;
    font-weight: bold;
}

.dropdown-item:hover {
    background: #0B7F46;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
}

.Bienvenida {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 70%;
    display: block;
    border-bottom: solid 3px #fff;
    color: #ffffff;
    font-size: 15px;
}

main .formulario {
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 50px;

}

.input-group {
    display: flex;
    align-items: center;
    background-color: #121A1C;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 90%;
    padding: 0;
}

.form-select {
    border: none;
    position: absolute;
    background: #121A1C;
    color: #FFFFFF;
    width: 100%;
    z-index: 1000;
}



.input-group .form-control {
    border: none;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    width: 85%;
}

input[type="select"] {
    border: none;
    display: none;
    padding: 10px;
    background-color: #FFFFFF;
    color: #000000;
    width: 85%;
}

.input-group-text {
    background-color: transparent;
    color: #FFFFFF;
    padding: 0px;
    border: none;
    display: flex;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.A_cupos {
    background: #0b7f46;
    font-weight: bold;
}

.A_cupos:hover {
    cursor: pointer;
    background: #07f884;
}

.material-icons {
    font-size: 24px;

}

@media screen and (max-width: 500px) {
    main .formulario {
        margin: auto;
        width: 100%;
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    
    }
    .form{
        width: 100%;
    }
    main .container #nombre.d-flex.Bienvenida {
        top: 80px;
        left: 10px;
    }

    body div.container-fluid {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        position: none;
    }

    .cel {
        background: #ffffff;
        border: solid 1px #000000;
        display: block;
        position: relative;
    }

    .cabeza_cel {
        border: solid 1px #ffffff;
        border-radius: 4px;
        background: linear-gradient(90deg, #0B7F46, #ffcc53);
    }

    footer {
        /* position: fixed; */
        bottom: 0px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .A_cupos {
        width: 80%;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;

    }

}

@media screen and (max-width: 800px) {
    main .formulario {
        margin: auto;
        width: 100%;
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    
    }

    .form{
        width: 100%;
    }

    footer {
        /* position: fixed; */
        bottom: 0px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .col-md-6 {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;

    }

    .A_cupos {
        background: #0B7F46;
        width: 80%;
        font-weight: bold;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        position: none;
    }
    .cel {
        background: #ffffff;
        border: solid 1px #000000;
        display: block;
        position: relative;
    }
    .cabeza_cel {
        border: solid 1px #ffffff;
        border-radius: 4px;
        background: linear-gradient(90deg, #0B7F46, #ffcc53);
    }
}

@media screen and (max-width: 900px) {

    main .formulario {
        margin: auto;
        width: 100%;
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    
    .form{
        width: 100%;
    }

    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 2px;
        width: 30%;
    }
    footer {
        /* position: fixed; */
        bottom: 0px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .col-md-6 {
        margin-bottom: 20px;
        padding: 20px;
    }
    .Bienvenida {
        position: absolute;
        top: 130px;
        left: -100px;
        width: 90%;
    }
    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }



    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        position: none;
    }

    .cel {
        background: #ffffff;
        border: solid 1px #000000;
        display: block;
        position: relative;
    }

    .cabeza_cel {
        border: solid 1px #ffffff;
        border-radius: 4px;
        background: linear-gradient(90deg, #0B7F46, #ffcc53);
    }
}

@media screen and (max-width: 1150px) {
    main .formulario {
        margin: auto;
        width: 100%;
        padding: 20px;
        border-radius: 15px;
        margin-top: 80px;
        margin-bottom: 50px;
    
    }

    .form{
        width: 100%;
    }
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }

    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 140px;
        width: 90%;
    }

    .s2 {
        width: 100%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }


    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        position: none;
    }

    .cel {
        background: #ffffff;
        border: solid 1px #000000;
        display: block;
        position: relative;
    }

    .cabeza_cel {
        border: solid 1px #ffffff;
        border-radius: 4px;
        background: linear-gradient(90deg, #0B7F46, #ffcc53);
    }

    .A_cupos {
        background: #0B7F46;
        width: 30%;
        font-weight: bold;
    }

    footer {
        /* position: fixed; */
        bottom: 0px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* @media screen and (min-width: 1200px) {
    main .container .d-flex img {
        position: fixed;
        top: 15px;
        left: 8px;
        width: 13%;
    }

    .Bienvenida {
        position: absolute;
        top: 80px;
        left: 200px;
        width: 90%;
    }

    .Bienvenida h1 {
        font-size: small;
        font-weight: bold;
        display: block;
    }

    footer{
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
} */

